html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #020e26;
}

.box {
  height: 128px;
  width: 128px;
  border: 2px dashed #ffffff;
  border-radius: 8px;
}
.box #item {
  height: 128px;
  width: 128px;
  background-color: #3bd9d9;
  border-radius: 8px;
}
